.flex-container-menu {
    @include standard-flex-container;
    background-color: $color-grey;
    flex-direction: row;
    text-align: left;
    width: 100%;
    justify-content: end;

    .menu {
        @include standard-text;
        color: $color-white;
        display: flex;
        flex-direction: column;
        align-items: end;

        a {
            @include link-styling;
        }

        .menu-item {
            @include standard-menu-item;
        }

        .menu-item.blog {
            background-color: #e17b77;
                
            .fa-laptop-code::before {
                content: "\f5fc";
                @include icon-styling;
            }
        }

        .menu-item.twitter {
            background-color: #00aced;

            .fa-twitter::before {
                content: "\f099";
                @include icon-styling;
            }
        }

        .menu-item.linkedin {
            background-color: #007bb6;

            .fa-linkedin-in::before {
                content: "\f0e1";
                @include icon-styling;
            }
        }

        .menu-item.facebook {
            background-color: #3b5998;

            .fa-facebook-f::before {
                content: "\f39e";
                @include icon-styling;
            }
        }

        .menu-item.github {
            background-color: #333;

            .fa-github::before {
                content: "\f09b";
                @include icon-styling;
            }
        }
    }
}